.root {
    -fx-background-color: rgb(50, 50, 50);
}

.button {
    -fx-background-color:
            #999999,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:pressed {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, rgba(114,131,148,0.9) 100%),
            linear-gradient(#20262b, rgba(114,131,148,0.9)),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(200,200,200,0.6) , 5, 0.0 , 0 , 1 );
}

.button:disabled:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: rgba(114,131,148,0.9);
    -fx-effect: dropshadow(three-pass-box, rgba(125, 125, 125, 0.5), 5, 0.4, 0, 0);
}

.menu-bar {
    -fx-text-fill: rgb(150, 150, 150);
    -fx-background-color: rgb(50, 50, 50);
}

.context-menu {
    -fx-background-color: rgb(50, 50, 50);
}

.menu-item {
    -fx-background-color: rgb(50, 50, 50);
}

.menu-item:hover {
    -fx-background-color: rgb(100, 100, 100);
}