.root {
    -fx-background-color: rgb(200, 200, 200);
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: rgba(114,131,148,0.9);
    /*-fx-font-size: 36; !*cancels programmatic font*!*/
    -fx-effect: dropshadow(three-pass-box, rgba(125, 125, 125, 0.5), 5, 0.4, 0, 0);
}