.root {
    -fx-background-color: rgb(50, 50, 50);
    -fx-background-image: url("/img/graveyard.jpg");
}

.button {
    -fx-background-color: #090a0c;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 50, 0, 1.0), 5, 0.5, 0, 0);
    -fx-background-image: url("/img/tomb35.png");
    -fx-background-size: contain;
    -fx-font-weight: bold;
}

.button:disabled {
    -fx-background-color: rgb(0, 0, 0);
    -fx-effect: innershadow(three-pass-box, rgba(50, 50, 50, 1.0), 5, 0.5, 0, 0);
    -fx-background-image: url("/img/empty35.jpg");
    -fx-background-size: contain;
    -fx-opacity: 0.6;
}

.button:pressed {
    -fx-background-color: black;
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 0),
    innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 0);
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(200, 0, 0, 0.6), 5, 0.5, 0, 0);
}

.button:disabled:hover {
    -fx-effect: innershadow(three-pass-box, rgba(50, 50, 50, 1.0), 5, 0.5, 0, 0);
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: rgba(250, 0, 0, 0.6);
    -fx-effect: dropshadow(three-pass-box, rgba(125, 125, 125, 0.5), 5, 0.4, 0, 0);
}

.menu-bar {
    -fx-text-fill: rgba(250, 0, 0, 0.4);
    -fx-background-color: transparent;

    -fx-effect: dropshadow(three-pass-box, rgba(200, 200, 200, 0.1), 2, 0.5, 0, 0);
}

.menu-bar > .container > .menu-button:hover {
    -fx-background-color: rgba(100, 100, 100, 0.3);
}

.menu-bar > .container > .menu-button:focused {
    -fx-background-color: rgba(100, 100, 100, 0.3);
}

.context-menu:focused {
    -fx-background-color: rgba(100, 100, 100, 0.3);
}

.context-menu {
    -fx-background-color: transparent;
}

.menu-item:focused {
    -fx-background-color: rgba(100, 100, 100, 0.3);
}

